*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(28, 28, 28);
    min-height: 100px;
    align-items: center;
    width: 100%;
}

h1.logoheader {
    color: white;
}

#title{
    padding-left: 80px;
}


ul{
    width: 20%;
}
.btn-menu li{
    color: white;
    margin-right: 30px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    width: fit-content;
}

.btn-menu li:hover{
    color: rgb(59, 178, 215);
    margin-right: 30px;
    font-size: 12px;
    font-weight: 700;
}

header h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    font-size: 24px;
}

.column{
    display: flex;
    flex-direction: column;
    gap:8px;
}

input{
    width: 307px;
    border-bottom: 2px solid lightblue;
    padding:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 8px;
    background-color: whitesmoke;
}

.btn{
    width: 197px;
    height: 42px;
    border-radius: 8px;
    background-color: rgb(57, 191, 236);
    color: white;
    border: none;
}

.btn:hover{
    width: 197px;
    height: 42px;
    border-radius: 8px;
    background-color: rgb(40, 153, 190);
    color: white;
    border: none;
    cursor: pointer;
}

.center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

